{% extends "Photo/base.html" %}
{% block title %} View Picture {% endblock title %}
{% load static %}

{% block content%}
    <div class="container view-container">
        <div class="row">
            
            <div class="view-pic">
                <img src="{{photo.image.url}}">
                <h3>Category: {{photo.category}}</h3>
                
                <hr>
                <div class="flex-div" style="justify-content: space-between;">
                    <a href="{% url 'update-pic' photo.pk %}"><button class="hero-btn">Update Picture</button></a>
                    <a href="{% url 'delete-pic' photo.pk %}"><button class="black-btn">Delete Picture</button></a>
                </div>
                <hr>

                <div class="plublisher">
                    <a href="">
                        <img src="{{photo.user.profile.image.url}}">
                    </a>
                    
                    <div>
                        <a href="">{{photo.user.first_name}} {{photo.user.last_name}}</a><br>
                        <span>{{photo.created}}</span>
                    </div>
                </div>
                <div class="pic-description">
                    <p>{{photo.description}}</p>
                    <hr> 
                    <h4>Comment</h4>

                    <div class="add-comment">
                        <div class="flex-div">
                            <img src="{{ user.profile.image.url }}">
                            <a href="{% url 'add_comment' photo.pk %}"><button class="black-btn">Add Comment</button></a>
                        </div>  
                    </div>   

                    <div>
                        {% if not photo.comments.all %}
                                <p>No comment added yet...</p>
                            {% else %}
                                {% for comment in photo.comments.all %}
                                <div class="old-comment">
                                    <img src="{{ comment.commenter_name.profile.image.url }}">
                                    <div>
                                        <h3>{{ comment.commenter_name.first_name}} {{ comment.commenter_name.last_name}}<span>{{comment.date_added}}</span></h3>
                                        <p>{{comment.comment_body}}</p>
                                    </div>
                                </div>
                                {% endfor %}

                            {% endif %}
                    </div>

                </div>
                

            </div>

        
        </div>
    </div>
{% endblock %}
    